.btn {
  background-color: transparent;
  outline: none;
  border: none;
}

.add__submit {
  padding: 0;

  svg {
    cursor: pointer;
    background: $color-success;
  }
}

.item__delete {
  polygon#Shape {
    fill: darken($color-danger, 40%);
  }
}